/* Font Face */
@font-face {
  font-family: 'Poppins';
  src: url(assets/font/Poppins/Poppins-Regular.ttf);
}

html body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
  color: var(--black);
}

/* All Colors Root */
:root {
  --bgColor: #CED2DC;
  --gameBgColor: #84A4FC;
  --borderColor: #70707026;
  --lightBlue: #4BABFF;
  --darkBlue: #4B7BFF;
  --lightPurple: #4B7BFF;
  --purple: #6E4BFF;
  --purpleHeading: #3D4276;
  --black: #424242;
  --darkGrey: #949494;
  --lightGrey: #EEEEEE;
  --white: #fff;
  --lightGreenBg: #DCF6E4;
  --lightOrangeBg: #F6EFD5;
  --lightBlueBg: #EFF3FF;
  --yellow: #F8D146;
  --orange: #FFA200;
  --WinnerOrange: #FF6600;
  --darkOrange: #FF7243;
  --red: #CC0000;
  --boxShadowBlack: #00000040;
  --boxShadowGrey: #00000029;
  --boxShadowOrange: #FF724373;
  --winnerYellowColor: #FFFF00;
  --green: #37AC5D;
  --subtleBlue: #B1C4F9;
  --lighterGrey: #F5F5F5;
}
